<!--&lt;!&ndash; MOVE TO TOP &ndash;&gt;-->
<!--<a ng-click="scrollTo('home')" class="back-to-top" style="display: inline;"><i class="fa fa-arrow-circle-up"></i></a>-->

<!--&lt;!&ndash;---- FOOTER -------------------------------&ndash;&gt;-->
<!--<footer id="footer" class="margin-top-100px">-->
    <!--<div class="footer-background">-->
        <!--<div class="container">-->
            <!--<div class="row font-size-24px">-->
                <!--<div class="col-left col-xs-6">-->
                    <!--<p><a href="#top">Christos Dimizas</a></p>-->
                <!--</div>-->
                <!--<div class="col-right col-xs-6">-->
                    <!--<a href="https://github.com/christos-dimizas" target="_blank"><i class="fa fa-github "></i></a>-->

                    <!--<a href="https://gr.linkedin.com/in/christos-dimizas-baa88348" target="_blank"><i class="fa fa-linkedin "></i></a>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; end row &ndash;&gt;-->
        <!--</div>&lt;!&ndash; end container &ndash;&gt;-->
    <!--</div>-->
<!--</footer>-->