

<div id="wrapper">
    <div id="sidebar-wrapper">
        <div id="nav" class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="home-box col-xs-12 col-sm-12">
                <div>
                    <img src="images/photo.jpg" alt="Marine Traffic image">
                    <h3 class="white-font">Tracking App</h3>
                </div>
            </div>
            <div class="home-box col-xs-12 col-sm-12 padding-L-R-15px margin-top-28px">
                <div class="margin-bottom-30px text-align-center">
                    <label>Days</label>
                    <select ng-model="selectDaysModel"
                            ng-disabled="loadingVesselTrackingData"
                            ng-change="selectDays.change()"
                            ng-options="day.id as day.name for day in selectDays.list"
                            class="days-select-style">
                    </select>
                </div>
                <div class="margin-bottom-30px text-align-center">
                    <label>MMSI</label>
                    <select ng-model="selectMMSIModel"
                            ng-disabled="loadingVesselTrackingData"
                            ng-change="selectMMSI.change()"
                            ng-options="m.id as m.mmsi for m in selectMMSI.list"
                            class="days-select-style">
                    </select>
                </div>

                <div class="margin-bottom-30px text-align-center">
                    <button class="days-select-style"
                            ng-disabled="vesselTrack.list.length==0"
                            ng-click="addMarkersTMap()">Add markers
                    </button>
                </div>
            </div>



            <div class="social">
                <ul>
                    <li>
                        <a href="https://github.com/christos-dimizas" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://gr.linkedin.com/in/christos-dimizas-baa88348" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="page-content-wrapper" class="light-gray-background container padding-top-15px">
        <div class="page-content ui-view-container">
            <div class="well no-padding">
                <!--<section id="landingPage" class="margin-top-28px">-->
                    <div class=" no-padding-L-R home-background container">
                        <div class="row padding-L-R-20px">
                            <div class="col-xs-12 col-sm-12 ">
                                <h4 class="height-30px">
                                    Tracking information&nbsp;
                                    <span ng-if="loadingVesselTrackingData"><i class="fa fa-spinner  fa-spin"></i></span>
                                    <span ng-if="vesselTrack.shipId && !loadingVesselTrackingData">
                                        -&nbsp;Ship id: {{vesselTrack.shipId}}
                                    </span>
                                </h4>
                                <!--LeafletJS-->
                                <leaflet markers="leafletObj.markers" lf-center="leafletObj.center" width="100%" height="500px"></leaflet>
                                <!--<pre>{{vesselTrack.list | json }}</pre>-->
                            </div>
                        </div>
                    </div>
                <!--</section>-->
            </div>
        </div>
    </div>
</div>



















<!------ LANDING PAGE --------------------------->

