
<!--  NAV BAR  -->
<div id="nav" class="navbar navbar-inverse navbar-static-top" role="navigation">

    <div class="home-box col-xs-12 col-sm-12">
        <div>
            <img src="images/photo.jpg" alt="Marine Traffic image">
            <h3 class="white-font">Tracking App</h3>
        </div>
    </div>
    <div class="padding-L-R-15px" >
<!--id="navbar" class="navbar-collapse"-->
        <!--TODO - ADD SELECT DAYS ELEMENT-->
        <label>Days</label>
        <select ng-model="selectDaysModel"
                ng-change="selectDays.change()"
                ng-options="day.id as day.name for day in selectDays.list"
                class="grey-font">
        </select>
        <br>
        <br>
        <br>

    </div>


    <div class="social">
        <ul>
            <li>
                <a href="https://github.com/christos-dimizas" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://gr.linkedin.com/in/christos-dimizas-baa88348" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>