<div class="row">
    <div class="col-md-8 col-centered text-center">
      <div class="profpic">
        <img src="img/katerina.JPG" class="img-responsive img-circle profpic-image" data-toggle="tooltip" data-placement="top" title="XML-SVG Code | Karen Sander | 2012 | Kunstmuseum Stuttgart">
      </div>
      <h3>
        Katerina<br /><small><i class="fa fa-code" aria-hidden="true"></i>
      <br />Front-End Developer</small></h3>
      <p>
        I am currentrly working as a Web developer and Web UI designer at the <a href="https://www.iit.demokritos.gr/isl">Integrated Systems Laboratory</a> of the Institute of Informatics
    and Telecommunications of the National Centre for Scientific Research “Demokritos”.
    My responsibilities include: development of responsive web apps and the design of their UI, mock-up drafting and design,
    contribution in proposal writing for EC-EU funded projects, participation in exhibitions and workshops organized by ISL. </p>
    <p>
          Technologies:
    <ul class="custom-list">
      <li>  _JavaScript frameworks & libraries: AngularJS (1.X) Angular (2, 4), jQuery</li>
      <li>_JavaScript map libraries: Google Maps API, OpenLayers</li>
      <li>_Server-side web app frameworks: Node.js</li>
      <li>_Package management: npm, bower</li>
      <li>_API integration/use/communication and design</li>
      <li>_API Management & Coordination: Apiary, Aglio</li>

      <li>_Excellent knowledge of DOM structure and web-page architecture</li>
      <li>  _Mock-Up Tools: Adobe Photoshop, Adobe Illustrator, Sketch</li>
      <li>
        _Web Front-End Frameworks: Bootstrap, Material Design
      </li>
      <li>_Experience with Drupal CMS and PHP templating</li>
      <li>_Experience in server-side CSS preprocessors (LESS, SASS)</li>
      <li>_Basic experience with karma unit testing tool</li>
      <li>_Hands on experience with RESTful Web Services</li>
      <li>_Experience in development of responsive web apps with cross-browser compatibility</li>
      <li>_Experience in working with Ionic cross-platform JavaScript frameworks</li>
      <li>  _Regular use of version control (git)</li>
    </ul>
    </p>
    <hr />
    </div>
</div>
