<div id="map" class="map">
    <!-- <div id='controls' class='overmap top-left thick-cloud'>
      <h4>Controls</h4>
    </div>
    <div class='overmap top-right'>
        <button type="button" class="btn btn-primary" ng-click='centerMap()'><i class="fa fa-dot-circle-o" aria-hidden="true"></i></button>
    </div> -->
</div>
<label for="speed">
      speed:&nbsp;
      <input id="speed" type="range" min="10" max="999" step="10" value="60">
    </label>
    <button id="start-animation">Start Animation</button>
